
@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
    </head>
    <body>

        <form action="SaveFruitsOrder" style="margin:auto" class="boxshadow" method="post">
            <h2>Fruits Order Details</h2>
            <div class="input-container">          
                <input class="form-control input-field" type="text" placeholder="Order By" name="OrderBy" required>
            </div>
            <div class="input-container">            
                <input class="form-control" type="text" placeholder="Mobile" name="Mobile" required>
            </div>
            <div class="input-container">
                @Html.DropDownList("FruitsId", (IEnumerable<SelectListItem>)ViewBag.Fruits, "- Select Fruits -", new { @class = "form-control field-length"})
            </div>
            <div class="input-container">           
                <input class="form-control input-field" type="text" placeholder="Quantity" name="Quantity" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>

    </body>
</html>

